<div class="dashboard">
  <header>
    <h1>Bucket List</h1>
    <button type="button" ng-click="gotoHome()">Home</button>
    <button type="button" ng-click="logout()">Logout</button>
  </header>
  <h1>Welcome, {{ userName }}</h1>
  <p class="error" ng-show="error">{{ error }}</p>
  <div id="action-bar">
    <form>
      <input type="text" ng-model="title" placeholder="Title">
      <input type="text" ng-model="desc" placeholder="Description">
      <select ng-options="user['userName'] for user in users track by user['_id']" ng-model="tag"></select>
      <button type="button" ng-click="addToList()">Add To List</button>
    </form>
  </div>
  <div class="list" ng-show="list">
    <h2>before I die I want to:</h2>
    <div class="list-item" ng-repeat="item in listItems | filter:{status: false}">
      <input type="checkbox" ng-change="updateList(item['_id'])" ng-model="listId" value="'{{ item['_id'] }}'"><label>{{ item['title'] }} | {{ item['desc'] }} | {{ item['createdAt'] }}</label>
    </div>
    <h2>Thank God I already have done:</h2>
    <div class="list-item" ng-repeat="item in listItems | filter:{status: true}">
      <label>{{ item['title'] }} | {{ item['desc'] }} | {{ item['createdAt'] }}</label>
    </div>
  </div>
  <div class="users">
    <h2>List of Other Users</h2>
    <ul>
      <li ng-repeat="user in users" ng-show="user['userName'] != userName"><a href="#/profile/{{ user['_id'] }}" >{{ user['userName'] }}</a></li>

    </ul>
  </div>
</div>
