*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  background: rgb(240, 240, 240);
  background: linear-gradient(rgb(235, 235, 235), rgb(250, 250, 250));
  background-attachment: fixed;
}

.error{
  color: red;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 1vh auto;
}

.login{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  .login > h1{
    padding: 1vh 1vw;
    margin: 0 0 2vh 0;
    background-color: rgb(50, 100, 255);
    color: white;
  }
  .login > form{
    width: 50%;
    padding: 1vh 1vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 3vh 0 rgb(50, 100, 255);
  }
    .login > form > label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      margin: 0 0 1vh 0;
    }
      .login > form > label > input{
        width: 80%;
        padding: 0.5vh 0.5vw;
      }
    .login > form > input{
      padding: 0.5vh 0.5vw;
      font-weight: bold;
      border-color: rgb(50, 100, 255);
      background-color: rgb(50, 100, 255);
      color: white;
      align-self: center;
    }

.dashboard{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  .dashboard > header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 100, 255);
    color: white;
    padding: 1vh 1vw;
    margin: 0 0 2vh 0;
  }
  .dashboard button{
    padding: 0.5vh 0.5vw;
    font-weight: bold;
    border-color: rgb(50, 100, 255);
    background-color: rgb(50, 100, 255);
    color: white;
  }
  #action-bar > form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    margin: 0 0 2vh 0;
    border: 1px solid rgb(50, 100, 255);
  }
    #action-bar > form > input{
      width: 25%;
      padding: 0.5vh 0.5vw;
    }
    #action-bar > form > select{
      width: 25%;
      padding: 0.5vh 0.5vw;
    }
  .dashboard > .list{
    margin: 1vh 0 1vh;
    padding: 1vh 1vw;
    border: 1px solid rgb(50, 100, 255);
  }
    .list > h2{
      margin: 1vh auto;
      text-align: center;
    }
    .list-item{
      margin: 0.5vh 0 0.5vh;
    }
  .users{
    margin: 1vh 0 1vh;
    padding: 1vh 1vw;
    border: 1px solid rgb(50, 100, 255);
  }
    .users  li{
      list-style: none;
      margin: 1vh 0 1vh;
    }
